{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <title>Biophilia.README</title>
    <!-- Подключение Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <script rel="preload" src="{% static 'js/gsap.min.js' %}"></script>
    <script rel="preload" src="{% static 'js/ScrollTrigger.min.js' %}"></script>
    <script rel="preload" src="{% static 'js/smooth-scrollbar.js' %}"></script>
    <script rel="preload" src="{% static 'js/ScrollMagic.min.js' %}"></script>
    <script rel="preload" src="{% static 'js/animation.gsap.js' %}"></script>
    <script rel="preload" src="{% static 'js/animations.js' %}"></script>
    <script rel="preload" src="{% static 'js/main.js' %}"></script>

     <!-- Начальный экран -->
    <section class="intro-screen">
        <div class="intro-content">
            <h1>Sound Engineering: Soundscape Ecology and Biophilic Design</h1>
            <p>Нажми, чтобы воспроизвести музыку</p>
            <div class="music-btn-container">
                <button type="button" id="musicButton" class="intro-music-btn">
                    <img rel="preload" id="buttonIcon" src="{% static 'images/play.png' %}" alt="Play">
                </button>
                <audio id="audio1" preload="auto" src="{% static 'audio/intro.mp3' %}"></audio>
                <audio id="audio2" preload="auto" src="{% static 'audio/mix_1.mp3' %}" loop></audio>
            </div>
        </div>
    </section>

    <!-- Первая группа видео -->
    <div class="video-group" id="group1">
        <video preload="metadata" class="background-video" muted>
            <source src="{% static 'videos/Bangkok.mp4' %}" type="video/mp4">
        </video>
        <video preload="metadata" class="background-video" muted>
            <source src="{% static 'videos/Nyb.mp4' %}" type="video/mp4">
        </video>
        <video preload="metadata" class="background-video" muted>
            <source src="{% static 'videos/Nyc.mp4' %}" type="video/mp4">
        </video>
    </div>


    <div class="content">
        <p>Давайте окунёмся в мир, о котором вы, возможно, никогда не задумывались, но постоянно его слышите.</p>
        <p>Прислушайтесь на мгновение. Какие звуки окружают вас? Возможно, вы услышите отдалённый гул самолёта, пение птиц или шелест листьев на деревьях.</p>
        <p>Звук — это неотъемлемая часть нашего природного и искусственного мира, целый мир сам по себе. Как люди, мы способны воспринимать лишь небольшую часть того, что создаёт звук в более широкой акустической среде. Эти звуки, которые мы слышим, образуют звуковой ландшафт, подобно тому как растения образуют природный ландшафт.</p>
        <p>Когда мы говорим о биофильном дизайне, мы имеем в виду, как наши постройки взаимодействуют с окружающей природой и как мы можем гармонично объединить природное и искусственное в одном пространстве. Люди используют каменную плитку на кухне, чтобы создать ощущение гладкости, или деревянные стулья, чтобы интерьер выглядел более естественно.</p>
        <p>Важный аспект биофильного дизайна — звуковая среда. Звуки, которые нас окружают, не менее важны, чем то, что мы видим и ощущаем. Биофильный дизайн может включать не только визуальные и тактильные аспекты, но и акустические.</p>
        <p>Давайте более подробно рассмотрим, что такое экология звуковых ландшафтов, как она изучается и как мы можем включить ее в биофильный дизайн.</p>

        <h1>Soundscape Ecology — Экология звукового ландшафта</h1>

        <p>У этой науки есть несколько названий: звуковая экология, экология звуковых ландшафтов или акустическая экология. По сути, она представляет собой изучение и практическое понимание акустической среды.</p>
        <p>Звуковая экология объединяет различные интересные дисциплины, такие как экология, акустика, биоакустика и ландшафтная экология, для исследования структуры, динамики и функций звуковых ландшафтов в рамках экосистемы.</p>
        <p>Каждый день мы думаем о растениях и окружающем нас природном мире, но часто не осознаем значимость звукового ландшафта, пока он не исчезает или не подвергается негативному воздействию. Когда мы смотрим фильм с природными сценами, но не слышим звуки природы, происходящее кажется ненастоящим. То же работает и в обратную сторону: создав правдоподобный звуковой ландшафт в искусственной среде, можно вызвать у человека реалистичное чувство нахождения в среде, иммитируемую в дизайне.</p>
        <p>Основной задачей экологии звукового ландшафта является оценка и интерпретация акустических явлений и процессов в экосистемах. Это касается как естественной среды обитания, так и городских территорий, а также антропогенно изменённых ландшафтов. В этой области признаётся, что звук является неотъемлемым компонентом окружающей среды и играет ключевую роль в формировании экологических взаимодействий и функционирования.</p>

        <h1>Чем занимаются исследователи в этой области?</h1>
        <p>Экологи, изучающие звуковые ландшафты, используют разнообразные методы и технологии для сбора и анализа звуковых данных. В их арсенале — акустические записывающие устройства, спектрограммы и компьютерные алгоритмы.</p>
        <p>Эти специалисты исследуют состав, временные закономерности и пространственное распределение звуков в экосистемах, включая как естественные шумы (например, звуки животных, ветра, воды), так и звуки, созданные человеком (например, шум дорожного движения, машин, человеческой деятельности).</p>
        <p>Изучение звуковых ландшафтов открывает перед исследователями множество возможностей для понимания различных экологических процессов и явлений. Например, экология звуковых ландшафтов может быть применена для оценки биоразнообразия, выявления изменений в составе или поведении видов, мониторинга качества среды обитания и исследования влияния деятельности человека на дикую природу и экосистемы. Эта информация может быть ценной для разработки природоохранных мероприятий, управления экосистемами и оценки воздействия на окружающую среду.</p>

        <h1>Природные симфонии</h1>

        <p>Давайте рассмотрим три ключевых аспекта экологии звукового ландшафта: антропофонию, биофонию и геофонию.</p>
        <p><b>Антропофония</b> охватывает звуки, которые мы, люди, производим. Конечно, это не только наши голоса, но и все звуки, издаваемые созданными нами вещами. Часто данная область упоминается в контексте шумового загрязнения. Дорожное движение, музыка, строительство и промышленное производство — всё это создаёт дополнительные шумы в окружающей среде. Эти искусственные звуки могут нарушить естественный звуковой ландшафт, который напоминает нам о биофонии — общении животных.</p>
        <p><b>Биофония</b> — мир звуков, который может рассказать нам о биологическом разнообразии и состоянии экосистемы. Звуки, издаваемые живыми существами, такими как птицы, насекомые и растения, являются неотъемлемой частью окружающей среды. Ученые могут измерять звуки, издаваемые насекомыми, чтобы оценить состояние экосистемы пастбищ. Растения тоже могут издавать звуки, особенно когда испытывают стресс. Smithsonian News опубликовали интересную статью о том, что растения томатов и табака начинают издавать больше звуков, когда сталкиваются с опасностью. Биофония — это увлекательное направление, которое ученые активно исследуют для понимания и измерения биологического разнообразия.</p>
        <p><b>Геофония</b> — это звуки, которые издают неживые элементы природы, такие как ветер, вода и геологические образования. Эти звуки являются неотъемлемой частью природного звукового ландшафта и могут оказывать значительное влияние на экосистему. Например, шум ветра, шуршащего в кронах деревьев, означает, что семена и пыльца разносятся по земле. В то же время журчание воды в ручье может указывать на среду обитания водных животных или источник воды для всех нас.</p>
    </div>
    
    <!-- Вторая группа видео -->
    <div class="video-group" id="group2">
        <video preload="auto" class="background-video" muted>
            <source src="{% static 'videos/Mossvert.mp4' %}" type="video/mp4">
        </video>
        <video preload="metadata" class="background-video" muted>
            <source src="{% static 'videos/Woodvert.mp4' %}" type="video/mp4">
        </video>
        <video preload="metadata" class="background-video" muted>
            <source src="{% static 'videos/Plantvert.mp4' %}" type="video/mp4">
        </video>
    </div>

    <div class="content">
        <h1>Экология звукового ландшафта в биофильном дизайне</h1>
        <p>Когда мы применяем науку о звуке в биофильном дизайне, мы создаем дизайн звукового ландшафта — особую акустическую среду, которая способствует улучшению самочувствия и общему восприятию пространства.</p>
        <p>С другой стороны, биофильный дизайн - это подход, направленный на включение элементов природы в архитектурную среду для создания более гармоничных и устойчивых пространств. Экология звуковых ландшафтов может быть включена в биофильный дизайн, чтобы усилить нашу связь с природой и способствовать ощущению благополучия.</p>

        <h1>Способы интеграции звука в биофильный дизайн</h1>
        <h2>Вот несколько вдохновляющих идей, которые помогут вам создать биофильный звуковой ландшафт в вашем доме.</h2>
        <p><b>Природные звуки</b>. Попытайтесь воссоздать естественные звуки природы, такие как щебет птиц, шелест листьев и журчание воды. Это поможет почувствовать связь с окружающим миром. А если у вас нет возможности создать настоящие природные звуки, вы можете воспользоваться специальными устройствами, которые издают их при срабатывании датчика движения    , например, устройствами, имитирующими пение птиц.</p>
        <p><b>Звукопоглощающие материалы</b>. В биофильном дизайне особое внимание уделяется использованию натуральных материалов, и эти материалы могут стать отличным инструментом для улучшения акустической среды. Использование звукопоглощающих материалов, таких как натуральные волокна, текстиль или переработанные материалы, поможет снизить уровень шума и создать более органичную атмосферу в помещении.</p>
        <p><b>Биомимикрия</b>. Это может показаться удивительным, но биомимикрия является важным аспектом как биофильного дизайна, так и звукоэкологии. Подражая формам и стратегиям, которые встречаются в природе, архитекторы и дизайнеры могут создавать пространства, оптимизированные для акустических целей. Например, архитектурные элементы, вдохновленные природными сооружениями, такими как морские раковины или крылья сов, могут эффективно рассеивать или поглощать звук в пространстве. </p>
        <p><b>Пространственное планирование</b>. Создание биофильного дизайна с учетом звуковой экологии требует тщательного планирования пространства. Дизайнеры могут грамотно расположить помещения, чтобы минимизировать шумовые загрязнения и обеспечить акустическое разделение. Например, более тихие зоны можно разместить вдали от источников шума, а помещения спроектировать с разным уровнем приватности и звукоизоляции для удовлетворения индивидуальных акустических потребностей.</p>
        <p><b>Саундскейпинг: Искусство создания атмосферы</b>. Саундскейпинг — это целенаправленное проектирование звукового ландшафта помещения с целью создания желаемой атмосферы или впечатления. Этого можно достичь благодаря интеграции современных технологий, таких как звуковые системы, а также размещению естественных и искусственных источников звука. Тщательно подобранная эмбиент-музыка или звуки природы, воспроизводимые в определенных местах, могут усилить ощущение близости к природе и создать атмосферу биофилии.</p>
        <p><b>Сенсорный баланс в биофильном дизайне</b>. Экология звука в биофильном дизайне неразрывно связана с другими сенсорными ощущениями. Важно достичь баланса между различными сенсорными стимулами, такими как визуальные, тактильные, обонятельные и слуховые. Тщательно продумав общее восприятие пространства, дизайнеры могут создать гармоничное сочетание звука с другими элементами биофилии, что усиливает общее впечатление от дизайна.</p>
    </div>

    <img rel="preload" src="{% static 'images/play.png' %}" style="display: none" alt="Preload Play Button">
    <img rel="preload" src="{% static 'images/pause.png' %}" style="display: none" alt="Preload Pause Button">

</body>
</html>
